body{
    scroll-behavior:initial;
    scroll-behavior: unset;
    overflow-y: scroll;
}
html,body,ul,ol,li{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
dl,dt,dd{
 padding: 0px;
 margin: 0px;
}

